{{ attach_library('hello/scripts_about') }}
{% include'@hello/hello-head.html.twig' %}
<section class="out">
  {% include '@hello/hello-menu.html.twig' %}
  <div class="main-title" >{{ data.title }}</div>

  {% for w in data.about %}
    <div class="about-img">
      <img src="{{ base_url }}/sites/default/files/my_files/{{ w.img }}" alt="About logo">
    </div>
<div class="new-out">
  <div class="title">{{ w.slogan }} </div>
  <hr>
    <div class="content" > {{ w.text | raw }} </div>

  <div class="tell">
    <p>Telephone: {{ w.tell }}</p>
  </div>
  <div class="mail">
    <p>E-mail: {{ w.mail }}</p>
  </div>
</div>
  {% endfor %}

</section>


{% include '@hello/hello-footer.html.twig' %}
