{{ attach_library('about/scripts_about') }}
{% include'@about/about-head.html.twig' %}
<section class="out">
  <div class="main-title" >{{ data.title }}</div>
  {% include '@hello/hello-menu.html.twig' %}


  {% for w in data.about %}
<div class="new-out">
  <div class="title">{{ w.slogan }} </div>
  <hr>
    <div class="content" ><p class="ppp" > {{ w.text | raw }}</p> </div>

  <div class="tell">
    <p>Telephone: {{ w.tell }}</p>
  </div>
  <div class="mail">
    <p>E-mail: {{ w.mail }}</p>
  </div>
</div>
  {% endfor %}

</section>


{% include '@hello/hello-footer.html.twig' %}
