{{ attach_library('hello/scripts_hello') }}
{% include'@hello/hello-head.html.twig' %}
<section class="out">
  {% include '@hello/hello-menu.html.twig' %}
  <div class="main-title" >{{ data.title }}</div>

  {% for w in data.window %}
<div class="new-out">
  <a href="{{ base_url }}/news/{{ w.id }}" class="a-title"><div class="title">{{ w.title }} </div></a>
  <hr>
    <div class="content" > {{ w.content | raw }} </div>

  <div class="date">
    <p>Created: {{ w.date }}</p>
  </div>
</div>
  {% endfor %}

</section>


{% include '@hello/hello-footer.html.twig' %}
